<div class="pagination-holder">
  <select class="select" [(ngModel)]="pageSize" (ngModelChange)="reArrange()">
    <option>10</option>
    <option>20</option>
  </select>
  <ul class="pagination">
    <li (click)="left()" [class.disable]="currentPage == 1">&laquo;</li>
    <li *ngFor="let i of pagination; let ind = index;" [class.active]="currentPage === ind + 1" (click)="goToPage(ind)">{{ind +1 }}</li>
    <li [class.disable]="currentPage == noOfPages" (click)="right()" [class.active]="currentPage === ind + 1">&raquo;</li>
  </ul>
</div>