<div class="os-history-filters-wrapper mb-3">
  <div class="form-inline">
    <div class="os-time-period form-inline mr-4">
      <label class="mr-2 justify-content-start">
        <b>Select time period:</b>
      </label>
      <select id="durationRange" [(ngModel)]="durationType" name="durationRange">
        <option *ngFor="let option of durationTypes ">{{option}}</option>
      </select>
    </div>
    <div class="os-history-filters-list-wrapper form-inline">
      <label class="os-history-filters-title justify-content-start mr-2">
        <b>Filter by:</b>
      </label>
      <ul class="os-history-filters-list">
        <li class="clickable" [ngClass]="{'active': orderType ==='Active'}" (click)="filtering('Active')">
          <a>Active</a>
        </li>
        <li class="clickable" [ngClass]="{'active': orderType ==='Delivered'}" (click)="filtering('Delivered')">
          <a>Delivered</a>
        </li>
        <li class="clickable" [ngClass]="{'active': orderType ==='Cancelled'}" (click)="filtering('Cancelled')">
          <a>Cancelled</a>
        </li>
        <li class="clickable" [ngClass]="{'active': orderType ==='Product'}" (click)="filtering('Product')">
          <a>Product</a>
        </li>
        <li class="clickable" [ngClass]="{'active': orderType ==='Rx'}" (click)="filtering('Rx')">
          <a>Rx</a>
        </li>
      </ul>
    </div>
  </div>
</div>