/*Order History CSS*/
.order-status-history-wrapper{
	max-width: 1170px;
	margin: 0 auto;
	padding: 15px;
}
.os-history-details .os-details{
display: inline-block;
margin-right: 20px;
}

.os-history-details .os-card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
  position: relative; 
}
.os-history-details .os-card-header .card-header-right-content{
	color: #CC0000;
	display:  flex;
	align-items: center;
	justify-content: flex-end;
}
.os-history-details .orders-list-main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.os-history-details .orders-list-main-wrapper .orders-list-wrapper{
	max-width: 350px;
	width: 100%;
	margin-right: 20px;
}

.os-history-details .orders-list-main-wrapper .orders-track-info{
	max-width: 400px;
	width: 100%;
}
.os-form-inline{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-align: center;
	align-items: center;
}
.os-justify-content-start{
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}
.os-form-control{
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1em;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #cccccc;
}
.os-card{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #cccccc;
}
.os-card-header{
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #EFEFEF;
	border-bottom: 1px solid #ccc;
}
.os-card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.os-media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}

.os-history-details .os-details span{
display: block;
}

.orders-list-wrapper .orders-list img{
max-width:80px;
}

/*Order Tracker*/
.orders-track-info{
	padding-bottom: 60px;
}
ul.progtrckr {
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: none;
	display: flex;
}

ul.progtrckr li {
	position: relative;
	text-align: center;
	line-height: 3.5em;
	float: left;
	width: 40%;
}
ul.progtrckr li span{
position: absolute;
	color: #808080;
}
ul.progtrckr li:nth-child(1) span{
left: -30px;
}
ul.progtrckr li:nth-child(2) span{
left: -15px;
}
ul.progtrckr li:last-child span{
left: -25px;
}
ul.progtrckr li:last-child{
width: 0;
}
ul.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ul.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ul.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }

ul.progtrckr li.progtrckr-done {    
	border-top: 2px solid #CC0000;
	color: #E8E8E8;
}
ul.progtrckr li.progtrckr-done.active{
font-weight: bold;
border-top: 2px solid #E8E8E8;
}
ul.progtrckr li.progtrckr-done.active span{
	color: #CC0000;
}
/* ul.progtrckr li .btn{
display: none;
} */
ul.progtrckr li.progtrckr-done.active.track-order-btn .btn{
	position: absolute;
	left: -121%;
	top: 50px;
	font-weight: bold;
	display: inline-block;
}
ul.progtrckr li.progtrckr-done.active.track-order-btn .btn:hover,
ul.progtrckr li.progtrckr-done.active.track-order-btn .btn:focus{
background-color:#CC0000; 
}
ul.progtrckr li{
	min-height: 65px;
}
ul.progtrckr li.progtrckr-todo {
	color: silver; 
	border-top: 2px solid #E8E8E8;
}

/*ul.progtrckr li:after {
	content: "\00a0\00a0";
}*/
ul.progtrckr li:before {
	position: relative;
	top: 0em;
	float: left;
	line-height: 1em;
}
ul.progtrckr li.progtrckr-done:before {
	content: "";
	color: white;
	background: url(/assets/img/check-circle.png);
	height: 26px;
	width: 26px;
	line-height: 2em;
	border: none;
	border-radius: 2.2em;
	top: -15px;    
	left: 0;
}
ul.progtrckr li.progtrckr-todo:before {
	content: " ";
	color: silver;
	background-color: #E8E8E8;
	font-size: 2.2em;
	top: -10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.prescription-order-details.os-history-details{
	border: 1px solid #017099;
}
.prescription-order-details.os-history-details .os-card-header{
	background-color: #E9F0F4;
	padding-left: 40px;
}
.prescription-order-details.os-history-details .os-card-body .orders-track-info,
.prescription-order-details.os-history-details .os-card-body .orders-list{
	display: none;
}
.card-header.prescription-order-active{
	background-color: #E9F0F3;
	padding-left: 40px;
}
.orders-list-delete{
	position: absolute;
	left: -1px;
	top: -1px;   
}
.os-history-details.order-enrolled-details .card-header-right-content,
.os-history-details.order-enrolled-details .os-card-body .orders-track-info .progtrckr{
	display: none;
}
.os-history-details.order-enrolled-details .os-card-body .orders-track-info .order-enrolled-text{
	display: flex;
	align-items: center;
}
.os-history-details.order-enrolled-details .orders-list-main-wrapper .orders-list-wrapper .orders-list{
	display: flex;
	align-items: center;
}
/* Responsiveness */
@media (max-width: 768px){
	.os-history-filters-wrapper > .form-inline{
			flex-direction: column;
			align-items: stretch;
	}
	.os-history-filters-wrapper > .form-inline{
			align-items: start;
	}
	.os-history-filters-wrapper .os-time-period,
	.os-history-filters-wrapper .os-history-filters-list-wrapper{
			flex-direction: column;
			align-items: stretch;
	}
	.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list{
			margin-top: 7px;
	}
	.os-history-filters-wrapper .os-time-period label{
			margin-bottom: 5px;
	}
	.os-history-details .orders-list-main-wrapper {
			flex-direction: column;
	}
	.os-history-details .orders-list-main-wrapper .orders-track-info,
	.os-history-details .orders-list-main-wrapper .orders-list-wrapper{
			max-width: 100%;
	}
	ul.progtrckr li.progtrckr-done.active.track-order-btn .btn{
			left: calc(-100% - 30px); 
	}
	ul.progtrckr li.progtrckr-done.active.track-order-btn .btn{
		 left: -113%; 
	}
	.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list li{
			margin-bottom: 5px;
	}
}
@media (max-width: 576px){
	.os-history-filters-wrapper .os-form-inline{
			flex-direction: column;
			align-items: stretch;
	}
	.os-history-filters-wrapper .os-time-period{
			margin-right: 0 !important;
			margin-bottom: 15px;
	}
	.os-history-details .card-header-left-content{
			width: 100%;
	}
	.os-history-details .card-header-right-content{
			display: none!important;
	}
	.os-history-details .os-details {
			display: flex;
	}
	.orders-list-wrapper .orders-list img {
			max-width: 60px;
	}
	ul.progtrckr{
			flex-direction: column; 
	}
	ul.progtrckr li{
			width: 100%;
			border-left: 2px solid #E8E8E8;
			border-top: 0px solid #E8E8E8!important;
	}
	ul.progtrckr li.progtrckr-done{
			border-left: 2px solid #CC0000;
			border-top: 0!important;
			min-height: 65px;
	}
	ul.progtrckr li.progtrckr-done.active.track-order-btn .btn {
			left: -28px;
			bottom: -70px;
			top: auto;
	}
	ul.progtrckr li.progtrckr-done.active{
			border-top: 0px solid #E8E8E8;
			border-left: 2px solid #E8E8E8;
	}
	ul.progtrckr li.progtrckr-done:before{
			top: -5px;
			left: -14px;
	}
	ul.progtrckr li.progtrckr-todo:before{
			left: -8px;
	}
	ul.progtrckr li:nth-child(2) span{
			left: 25px!important;
			top: -27px;
			width: 100%;
			text-align: left;
			min-width: 150px;
	}    
	ul.progtrckr li:nth-child(1) span {
			left: 25px!important;
			top: -17px;
			width: 100%;
			text-align: left;
			min-width: 150px;
	}
	ul.progtrckr li:last-child span {
			left: 25px;
			top: -27px;
			text-align: left;
			min-width: 150px;
	}
	ul.progtrckr li:last-child{
			border: none;
	}
	ul.progtrckr li.progtrckr-todo:last-child:before{
			left: -6px;
	}
	ul.progtrckr li.progtrckr-done.active:nth-child(2) span{
			top: -16px;
	}
	.orders-track-info {
			padding-bottom: 0;
	}
	.os-history-details.order-enrolled-details .orders-list-main-wrapper .orders-list-wrapper .orders-list{
			flex-direction: column;
			align-items: flex-start;
	}
}
@media (max-width:380px){
	ul.progtrckr li.progtrckr-done.active.track-order-btn .btn{
			left: -15px;
			width: 100%;
	}
}
