body{
	font-size: 14px;
}
.order-status-history-wrapper .form-control,
.order-status-history-wrapper .card{
	border-radius: 0px;
}
.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list{
padding: 0;
margin: 0;
display: inline-block;
}
.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list li{ 
display: inline-block;
border: 1px solid #D0CDC7;
border-radius: 20px;
padding: 2px 15px;
}
.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list li a{
color: #75746E;
	text-decoration: none;
}
.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list li.active{
background-color: #E60002;
}
.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list li.active a{
color:#FFFFFF;
}
.os-history-details .os-details{
display: inline-block;
margin-right: 20px;
}
.os-history-details .os-details span{
display: block;
}

.card-header-right-content{
color: #E90004;
	display:  flex;
	align-items: center;
	justify-content: flex-end;
}
.fa-angle-right{
margin-left: 10px;
font-size:30px;
}
.orders-list-wrapper .orders-list img{
max-width:80px;
}
/*.orders-list-wrapper .orders-list{
padding-bottom: 25px;
}*/

/*Order Tracker*/
.orders-track-info{
	padding-bottom: 60px;
}
ul.progtrckr {
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: none;
	display: flex;
}

ul.progtrckr li {
	position: relative;
	text-align: center;
	line-height: 3.5em;
	float: left;
	width: 40%;
}
ul.progtrckr li span{
position: absolute;
	color: #808080;
}
ul.progtrckr li:nth-child(1) span{
left: -30px;
}
ul.progtrckr li:nth-child(2) span{
left: -15px;
}
ul.progtrckr li:last-child span{
left: -25px;
}
ul.progtrckr li:last-child{
width: 0;
}
ul.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ul.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ul.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }

ul.progtrckr li.progtrckr-done {    
	border-top: 2px solid #CC0000;
	color: #E8E8E8;
}
ul.progtrckr li.progtrckr-done.active{
font-weight: bold;
border-top: 2px solid #E8E8E8;
}
ul.progtrckr li.progtrckr-done.active span{
	color: #CC0000;
}
ul.progtrckr li .btn{
display: none;
}
ul.progtrckr li.progtrckr-done.active.track-order-btn .btn{
	display: inline-block;
	position: absolute;
	left: -121%;
	top: 50px;
	border: 2px solid #CC0000;
	font-weight: bold;
	border-radius: 0;
}
ul.progtrckr li.progtrckr-done.active.track-order-btn .btn:hover,
ul.progtrckr li.progtrckr-done.active.track-order-btn .btn:focus{
background-color:#CC0000; 
}
ul.progtrckr li.progtrckr-todo {
	color: silver; 
	border-top: 2px solid #E8E8E8;
}

/*ul.progtrckr li:after {
	content: "\00a0\00a0";
}*/
ul.progtrckr li:before {
	position: relative;
	top: 0em;
	float: left;
	line-height: 1em;
}
ul.progtrckr li.progtrckr-done:before {
	content: "\2713";
	color: white;
	background-color: #CC0000;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: none;
	border-radius: 2.2em;
	top: -18px;    
	left: 0;
}
ul.progtrckr li.progtrckr-todo:before {
	content: " ";
	color: silver;
	background-color: #E8E8E8;
	font-size: 2.2em;
	top: -10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.card-header.prescription-order-active{
	background-color: #E9F0F3;
	padding-left: 40px;
}

#prescription-order-strip {
	position: absolute;
	left:-25px;
	top:-12px;
}
#prescription-order-strip::before,
#prescription-order-strip::after {
	content: '';
	position: absolute;
	
	border-color: transparent;
	border-style: solid;
}
#prescription-order-strip::before {
	border-width: 2em;
	border-left-color:#037092;
	border-top-color: #037092;
}

#prescription-order-strip::after {
	border-radius: 0.4em;
	border-width: 1.35em;
	border-left-color:#037092;
	border-top-color: #037092;
}
.prescription-order-active  i{
	color:white;
	position: absolute;
	left:-15px;
	top:-4px;
	font-size: 18px;
}
/* Responsiveness */
@media (max-width: 990px){
	.container{
			max-width: 100%;
	}
}
@media (max-width: 880px){
	.os-history-filters-wrapper > .form-inline{
			align-items: start;
	}
	.os-history-filters-wrapper .os-time-period,
	.os-history-filters-wrapper .os-history-filters-list-wrapper{
			flex-direction: column;
			align-items: stretch;
	}
	.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list{
			margin-top: 7px;
	}
}
@media (max-width: 767px){
	.os-history-filters-wrapper > .form-inline{
			flex-direction: column;
			align-items: stretch;
	}
	.os-history-filters-wrapper .os-time-period{
			margin-bottom: 20px;
	}
	ul.progtrckr li.progtrckr-done.active.track-order-btn .btn{
		 left: -113%; 
	}
	.os-history-filters-wrapper .os-history-filters-list-wrapper .os-history-filters-list li{
			margin-bottom: 5px;
	}
}
@media (max-width: 576px){
	.os-history-filters-wrapper .os-time-period{
			margin-right: 0 !important;
	}
	.os-history-details .card-header-right-content{
			display: none;
	}
	.os-history-details .os-details {
			display: flex;
	}
	.orders-list-wrapper .orders-list img {
			max-width: 60px;
	}
	ul.progtrckr{
			flex-direction: column; 
	}
	ul.progtrckr li.progtrckr-done{
			border-left: 2px solid #CC0000;
			border-top: 0!important;
			min-height: 65px;
	}
	ul.progtrckr li.progtrckr-done.active.track-order-btn .btn {
			left: -28px;
			bottom: -70px;
			top: auto;
	}
	ul.progtrckr li.progtrckr-done.active{
			border-top: 0px solid #E8E8E8;
			border-left: 2px solid #E8E8E8;
	}
	ul.progtrckr li.progtrckr-done:before{
			top: -5px;
			left: -14px;
	}
	ul.progtrckr li.progtrckr-todo:before{
			left: -6px;
	}
	ul.progtrckr li:nth-child(2) span,
	ul.progtrckr li:nth-child(1) span {
			left: 25px!important;
			top: -15px;
			width: 100%;
			text-align: left;
			min-width: 150px;
	}
	ul.progtrckr li:last-child span {
			left: 25px;
			bottom: -6px;
			text-align: left;
			min-width: 150px;
	}
}
